//Encabezado

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;

    .carritoVentas {
        width: 30px;
        cursor: pointer;
    }

    .btnBuscar {
        border-color: black;
        color: black;
        background-color: white;
        text-transform: uppercase;
    }

    .btnIniciarSesion {
        border-color: black;
        color: black;
        background-color: white;
        text-transform: uppercase;
    }

    .iniciarSesion {
        display: inline-block;
        padding: 8px 16px;
        border: 3px black solid;
        border-radius: 0px;
        background-color: white;
    }
    
    a {
        text-decoration: none;
        text-transform: uppercase;
        color: black;
    }
    
    .logo {
        width: 180px;
        cursor: pointer;
        margin-top: 10px;
        margin-left: 10px;
    }
}

.btnBuscar:hover {
    background-color: black;
}

.btnIniciarSesion:hover {
    background-color: black;
}

//Menú de navegación

.menuNav {
    padding: 8px 16px;
    background-color: white;
    text-align: center;
    margin-top: 50px;
    text-transform: uppercase;
}

//Cards de productos

.productos {
    background-color: black;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    padding: 16px;
    margin-top: 50px;
    margin-bottom: 50px;

    .productos h2 {
        font-size: 3rem;
    }
    
    .contenedorProductos {
        justify-content: center;
    }
    
    .card {
        border: none;
    }
    
    .btnProductos {
        border-color: black;
        color: black;
        background-color: white;
        text-transform: uppercase;
    }

    .btnProd {
        border-color: black;
        color: black;
        background-color: white;
        text-transform: uppercase;
        text-align: center;
        margin-left: 500px;
        margin-right: 350px;
        margin-top: 10px;
        margin-bottom: 50px;
    }
}

.btnProductos:hover {
    background-color: black;
    color: white;
}

.btnProd:hover {
    background-color: black;
    color: white;
}

//Redes sociales

.finalHeader {
    border-top: 3px black solid;
    text-align: center;
    padding: 10px 20px;
    margin-top: 30px;

    .textoSociales {
        font-size: 60px;
        margin-bottom: 5px;
    }
    
    .textoInstagram {
        font-size: 50px;
        display: inline-block;
        margin-top: 0px;
        margin-left: 10px;
    }
    
    .instagram {
        width: 80px;
        cursor: pointer;
        display: flex;
        display: inline-block;
        margin-top: 15px;
        margin-bottom: 15px;
    }
}